@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@97.8,300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: rgb(140, 159, 217) no-repeat;
    background: linear-gradient(90deg, rgba(140, 159, 217, 0.6125043767507004) 0%, rgba(227, 204, 224, 0.41642594537815125) 100%);
}
main {
    flex: 1 0 auto;
}
header{
    box-shadow: 0 1px 6px 0 rgb(32 33 36/10%);
    width: 100%;
    align-items: center;
    text-align: center;
}
